#rpmTree .x-grid-cell-inner .count {
	width         : 25px;
	border        : 1px solid #B7841F;
	display       : inline-block;
	text-align    : center;
	font-size     : 9px;
	height        : 13px;
	line-height   : 12px;
	border-radius : 3px;
	background    : #ffff99;
	background    : -moz-linear-gradient(top,  #ffff99 0%, #ffd46f 100%);
	background    : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff99), color-stop(100%,#ffd46f));
	background    : -webkit-linear-gradient(top,  #ffff99 0%,#ffd46f 100%);
	background    : -o-linear-gradient(top,  #ffff99 0%,#ffd46f 100%);
	background    : -ms-linear-gradient(top,  #ffff99 0%,#ffd46f 100%);
	background    : linear-gradient(to bottom,  #ffff99 0%,#ffd46f 100%);
	filter        : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff99', endColorstr='#ffd46f',GradientType=0 );
}

.x-tree-icon { display    : none    !important; }

.btn > .x-grid-cell-inner:hover {
	cursor: pointer !important;
}

.green  > .x-grid-cell-inner,
.red    > .x-grid-cell-inner,
.yellow > .x-grid-cell-inner,
.grey   > .x-grid-cell-inner {
	border-radius : 3px    !important;
	margin        : 3px    !important;
	text-align    : center !important; 
}
.green > .x-grid-cell-inner {
	border     : 1px solid #afd3b6;
	background : #c6efce;
	background : -moz-linear-gradient(top,  #c6efce 0%, #afd3b6 100%);
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6efce), color-stop(100%,#afd3b6));
	background : -webkit-linear-gradient(top,  #c6efce 0%,#afd3b6 100%);
	background : -o-linear-gradient(top,  #c6efce 0%,#afd3b6 100%);
	background : -ms-linear-gradient(top,  #c6efce 0%,#afd3b6 100%);
	background : linear-gradient(to bottom,  #c6efce 0%,#afd3b6 100%);
	filter     : progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6efce', endColorstr='#afd3b6',GradientType=0 );
}

.red > .x-grid-cell-inner {
	border     : 1px solid #e5b5ba;
	background : #ffc7ce;
	background : -moz-linear-gradient(top,  #ffc7ce 0%, #e5b5ba 100%);
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc7ce), color-stop(100%,#e5b5ba));
	background : -webkit-linear-gradient(top,  #ffc7ce 0%,#e5b5ba 100%);
	background : -o-linear-gradient(top,  #ffc7ce 0%,#e5b5ba 100%);
	background : -ms-linear-gradient(top,  #ffc7ce 0%,#e5b5ba 100%);
	background : linear-gradient(to bottom,  #ffc7ce 0%,#e5b5ba 100%);
	filter     : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc7ce', endColorstr='#e5b5ba',GradientType=0 );
}
.yellow > .x-grid-cell-inner {
	border     : 1px solid #e5d28e;
	background : #ffeb9c;
	background : -moz-linear-gradient(top,  #ffeb9c 0%, #e5d28e 100%);
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffeb9c), color-stop(100%,#e5d28e));
	background : -webkit-linear-gradient(top,  #ffeb9c 0%,#e5d28e 100%);
	background : -o-linear-gradient(top,  #ffeb9c 0%,#e5d28e 100%);
	background : -ms-linear-gradient(top,  #ffeb9c 0%,#e5d28e 100%);
	background : linear-gradient(to bottom,  #ffeb9c 0%,#e5d28e 100%);
	filter     : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeb9c', endColorstr='#e5d28e',GradientType=0 );
}
.grey > .x-grid-cell-inner {
	border     : 1px solid #cfd1d3;
	background : #e7ebee;
	background : -moz-linear-gradient(top,  #e7ebee 0%, #cfd1d3 100%);
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7ebee), color-stop(100%,#cfd1d3));
	background : -webkit-linear-gradient(top,  #e7ebee 0%,#cfd1d3 100%);
	background : -o-linear-gradient(top,  #e7ebee 0%,#cfd1d3 100%);
	background : -ms-linear-gradient(top,  #e7ebee 0%,#cfd1d3 100%);
	background : linear-gradient(to bottom,  #e7ebee 0%,#cfd1d3 100%);
	filter     : progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7ebee', endColorstr='#cfd1d3',GradientType=0 );
}
