.count {
	width         : 25px;
	border        : 1px solid #B7841F;
	display       : inline-block;
	text-align    : center;
	font-size     : 9px;
	height        : 13px;
	line-height   : 12px;
	border-radius : 3px;
	background    : #ffff99;
	background    : -moz-linear-gradient(top,  #ffff99 0%, #ffd46f 100%);
	background    : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff99), color-stop(100%,#ffd46f));
	background    : -webkit-linear-gradient(top,  #ffff99 0%,#ffd46f 100%);
	background    : -o-linear-gradient(top,  #ffff99 0%,#ffd46f 100%);
	background    : -ms-linear-gradient(top,  #ffff99 0%,#ffd46f 100%);
	background    : linear-gradient(to bottom,  #ffff99 0%,#ffd46f 100%);
	filter        : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff99', endColorstr='#ffd46f',GradientType=0 );
}

.info_title {
	display: inline-block;
	width: 150px;
	text-align: right;
	margin-right: 6px;
}

.chart_title {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 50px 0 0;
}

.error {
	text-align: center;
}