#rpmTree .x-grid-cell-inner .count {
	width         : 25px;
	border        : 1px solid #B7841F;
	display       : inline-block;
	text-align    : center;
	font-size     : 9px;
	height        : 13px;
	line-height   : 12px;
	border-radius : 3px;
	background    : #ffff99;
	background    : -moz-linear-gradient(top,  #ffff99 0%, #ffd46f 100%);
	background    : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff99), color-stop(100%,#ffd46f));
	background    : -webkit-linear-gradient(top,  #ffff99 0%,#ffd46f 100%);
	background    : -o-linear-gradient(top,  #ffff99 0%,#ffd46f 100%);
	background    : -ms-linear-gradient(top,  #ffff99 0%,#ffd46f 100%);
	background    : linear-gradient(to bottom,  #ffff99 0%,#ffd46f 100%);
	filter        : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff99', endColorstr='#ffd46f',GradientType=0 );
}

.label {
	display       : inline-block;
	padding       : 2px;
	width         : 125px;
	height        : 20px;
	line-height   : 16px;
	text-align    : center;
	border-radius : 3px;
	margin        : 0 2px 0 -4px;
}

.key_label {
	display : inline-block;
	width   : 90px;
}

.align {
	display    : inline-block;
	text-align : center;
	width      : 60px;
}

.titleBar {
	width      : 1100px;
	margin     : auto;
	text-align : center;
}

.titleBar .left, .titleBar .right {
	width      : 550px;
	display    : inline-block;
	font-style : italic;
}

.qSummary {
	font-size   : 12px;
	line-height : 15px;
	font-style  : italic;
}

.green     { background    : #C6EFCE; }
.red       { background    : #FFC7CE; }
.yellow    { background    : #FFEB9C; }
.grey      { background    : #E7EBEE; }
.split     { background    : #B5D8EB; }
.key_row   { margin-top    : 5px;     }
.half      { width         : 60px;    }
.square    { width         : 20px;    }
.nodeTitle { padding-right : 20px;    }