#aIter-inputEl.x-form-field,
#bIter-inputEl.x-form-field {
	width: 205px !important;
}

.half {
	text-align  : center;
	display     : inline-block;
	width       : 66px;
	white-space : nowrap;
}
.left  { float : left;  }
.right { float : right; }

.qSummary {
	font-size   : 12px;
	line-height : 15px;
	font-style  : italic;
}

.key_label {
	margin-left: 10px;
}