#toolbar {
	margin: 5px;
}

#releasePicker-inputCell,
#iterPicker-inputCell {
	width: 160px;
	margin: 0 5px;
}

.activeButton {
	background: #666;
}

#tagPicker .x-trigger-cell {
	display: none !important;
}
#tagPicker .x-form-item-body {
	border-right: 1px solid #C6C6C6 !important;
}