#toolbar {
	margin: 5px 0 3px 5px;
}

.label {
	width: 65px;
	padding: 4px;
	border-radius: 3px;
}

.note + .note {
	margin-top: 5px;
}

.green    { background: #C6EFCE; }
.red      { background: #FFC7CE; }
.yellow   { background: #FFEB9C; }