#toolbar {
	padding: 5px;
}

#min_iter-inputEl.x-form-field,
#max_iter-inputEl.x-form-field {
	width: 160px !important;
}

.combobox-right-arrow {
	display: none !important;
}

.half {
	text-align  : center;
	display     : inline-block;
	width       : 71px;
	white-space : nowrap;
}
.left  { float : left;  }
.right { float : right; }