#toolbar {
	padding: 5px;
}

#min_iter-inputEl.x-form-field,
#max_iter-inputEl.x-form-field {
	width: 160px !important;
}

.combobox-right-arrow {
	display: none !important;
}

.percent {
	text-align  : center;
	display     : inline-block;
	width       : 80px;
	white-space : nowrap;
}

.chart_title {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	margin: 0 30px 0 83px;
}